@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fredoka', 'Microsoft JhengHei', sans-serif;
  background-color: #ECFDF5;
  background-image: radial-gradient(#10B981 1px, transparent 1px);
  background-size: 20px 20px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ECFDF5; 
}

::-webkit-scrollbar-thumb {
  background: #34D399; 
  border-radius: 10px;
  border: 2px solid #ECFDF5;
}

::-webkit-scrollbar-thumb:hover {
  background: #059669; 
}

.monster-shadow {
  box-shadow: 4px 4px 0px 0px #064E3B; /* Dark Green Shadow */
}

.monster-shadow-sm {
  box-shadow: 2px 2px 0px 0px #064E3B;
}

.monster-card {
  border: 2px solid #064E3B;
  border-radius: 1.5rem;
}
